* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: auto;
  min-height: 100% !important;
  background-position: center;
  background-size: cover;
  z-index: -1;
  font-family: "Raleway", sans-serif;
}

.nav-container {
  display: block;
  overflow: auto;
  width: 220px;
  position: fixed;
  background-color: #1f2833;
  border-right: 3px solid #c5c6c7;
  z-index: 1;
  transform: translateX(0);
}

.nav-header-text {
  margin-bottom: 100px;
}

.nav-head {
  height: 100vh;
  color: #c5c6c7;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.nav-head ol {
  width: 100%;
  list-style: none;
}

.nav-head li {
  display: block;
  width: 100%;
}

.nav-head ol li a {
  position: relative;
  color: #c5c6c7;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.nav-head ol li a:hover {
  color: #45a29e;
}

.nav-head ol li a:after {
  content: "";
  position: absolute;
  background-color: #66fcf1;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.5s;
}

.nav-head ol li a:hover:after {
  width: 100%;
}

.social-media {
  display: flex;
  margin-top: 25px;
}

@media screen and (max-width: 992px) {
  .nav-container {
    display: none;
  }
}
.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: #c5c6c7;
  padding: 50px;
  margin-left: 200px;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  padding: 15px;
}

.contactme {
  display: block;
  color: #1f2833;
  padding: 15px;
}

.contactme h2, h3, p {
  padding: 15px 0;
}

.last-name {
  margin-bottom: 30px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.email {
  grid-column-start: 1;
  grid-column-end: 4;
}

.subject {
  grid-column-start: 1;
  grid-column-end: 4;
}

.message {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-right: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #1f2833;
  background: transparent;
  font-size: 15px;
  color: #1f2833;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #1f2833;
  cursor: text;
  transition: 0.2s;
}

.first-name, .last-name, .email, .subject, .message {
  position: relative;
  margin-bottom: 30px;
}

button {
  padding: 10px 0;
  color: #1f2833;
  outline: none;
  background: transparent;
  border: 1px solid #1f2833;
  width: 100%;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 4;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

@media screen and (max-width: 992px) {
  .footer-container {
    margin-left: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer-container {
    display: grid;
    grid-template-rows: 0.4fr 0.6fr;
    grid-template-columns: 1fr;
  }
}
.leftmargin {
  margin-left: 200px;
  height: 100vh;
}

.img {
  display: block;
  max-width: 100%;
}

.card-container {
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
  background-color: #c5c6c7;
  margin-left: 200px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.card {
  flex: 1 0 350px;
  background: #1f2833;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  align-self: normal;
}

.card .img {
  width: 100%;
  height: 250px;
}

.card .img img {
  width: 100%;
  height: 100%;
}

.card .text {
  padding: 10px;
  text-align: left;
  color: #c5c6c7;
}

.text h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  .card-container {
    padding-top: 15px;
    margin-left: 0;
    padding: 0px;
  }
}
@media screen and (max-width: 400px) {
  .card {
    flex: 1 0 200px;
  }
}
.hero-image {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  position: relative;
  height: 700px;
  overflow: hidden;
  background: url(../img/hero.jpg);
  background-size: cover;
}

.text-container {
  position: absolute;
  top: 50%;
  left: calc(50% + 100px);
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: #c5c6c7;
  font-weight: 600;
  opacity: 65%;
}

.text-container h1 {
  font-size: 72px;
  letter-spacing: 0.5px;
}

.text-container h1 span {
  padding: 5px 15px;
  text-transform: uppercase;
  display: inline-block;
}

.description {
  margin: 20px;
  display: block;
  font-size: 26px;
}

@media screen and (max-width: 992px) {
  .text-container {
    left: 50%;
  }
}
.aboutme-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-width: 100%;
  height: 100vh;
  text-align: center;
  margin-left: 200px;
  background-color: #1f2833;
}

.aboutme-container .aboutme img {
  height: auto;
  width: 600px;
  max-width: 100%;
}

.aboutme-text {
  width: 550px;
  max-width: 100%;
  padding: 0 10px;
}

.aboutme h2 {
  font-size: 72px;
}

.aboutme p {
  font-size: 20px;
  line-height: 28px;
}

.aboutme {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 95%;
  margin-top: 25px;
  padding: 25px;
  color: #1f2833;
  background-color: #45a29e;
}

@media screen and (max-width: 1200px) {
  .aboutme {
    width: 100%;
    height: auto;
    padding: 70px 0px;
  }
}
@media screen and (max-width: 768px) {
  .aboutme-container .aboutme img {
    margin-bottom: 35px;
    padding-top: 10px;
  }
  .text h2 {
    font-size: 52px;
  }
}
@media screen and (max-width: 576px) {
  .aboutme-container {
    padding-top: 10px;
  }
}
@media screen and (max-width: 992px) {
  .aboutme-container {
    margin-left: 0;
  }
}
.comingsoon h2 {
  padding: 50px;
  font-size: 72px;
}

.comingsoon {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  max-width: 95%;
  margin: 0 auto;
  color: #c5c6c7;
}

.scs-container {
  margin-left: 200px;
  padding: 50px;
  background-color: #1f2833;
  color: #1f2833;
}

.scs-grid {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.scs-info {
  background-color: #F2C85B;
  margin: 15px;
  width: 400px;
  padding: 15px;
  height: 420px;
}

.netmatters-info {
  background-color: #FBA465;
  margin: 15px;
  width: 400px;
  padding: 15px;
  height: 420px;
}

.netmatters-info ul {
  list-style: none;
  padding: 45px 0;
}

.treehouse-info {
  background-color: #F86E51;
  width: 400px;
  padding: 15px;
  min-height: 420px;
}

.treehouse-info p {
  padding-top: 45px;
}

.bold {
  margin-top: 15px;
}

@media screen and (max-width: 1200px) {
  .scs-grid {
    flex-wrap: wrap;
  }
}/*# sourceMappingURL=style.css.map */