* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  background-image: url(../img/background.jpg);
  width: 100%;
  height: 100vh;
  background-position: center;
  background-size: cover;
  z-index: -1;
  font-family: "Raleway", sans-serif;
}

.nav-container {
  height: 300%;
  width: 200px;
  position: absolute;
  background-color: #c7d3d4;
  border-right: 3px solid #603f83;
  z-index: 1;
  transform: translateX(0);
}

.nav-header-text {
  margin-bottom: 100px;
}

.nav-head {
  color: #603f83;
  font-size: 30px;
  font-weight: bold;
  padding-top: 30px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.nav-head ol {
  width: 100%;
  list-style: none;
}

.nav-head li {
  display: block;
  width: 100%;
}

.nav-head ol li a {
  position: relative;
  color: #603f83;
  padding: 15px 10px;
  text-decoration: none;
  display: block;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.4px;
}
.nav-head ol li a:hover {
  color: #A93F83;
}

.nav-head ol li a:after {
  content: "";
  position: absolute;
  background-color: #8abad3;
  height: 3px;
  width: 0;
  left: 0;
  bottom: 10px;
  transition: 0.5s;
}

.nav-head ol li a:hover:after {
  width: 100%;
}

.footer-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.contactme {
  color: #c7d3d4;
}

.last-name {
  margin-bottom: 30px;
  grid-column-start: 2;
  grid-column-end: 3;
}

.email {
  grid-column-start: 1;
  grid-column-end: 4;
}

.subject {
  grid-column-start: 1;
  grid-column-end: 4;
}

.message {
  grid-column-start: 1;
  grid-column-end: 4;
  margin-right: auto;
}

input, textarea {
  width: 100%;
  padding: 10px;
  outline: 0;
  border: 1px solid #c7d3d4;
  background: transparent;
  font-size: 15px;
  color: #c7d3d4;
}

label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: #c7d3d4;
  cursor: text;
  transition: 0.2s;
}

.first-name, .last-name, .email, .subject, .message {
  position: relative;
  margin-bottom: 30px;
}

button {
  padding: 10px 0;
  color: #c7d3d4;
  outline: none;
  background: transparent;
  border: 1px solid #c7d3d4;
  width: 100%;
  cursor: pointer;
  grid-column-start: 1;
  grid-column-end: 4;
}

input:focus ~ label,
input:valid ~ label,
textarea:focus ~ label,
textarea:valid ~ label {
  top: -35px;
  font-size: 14px;
}

.leftmargin {
  margin-left: 200px;
  height: 100vh;
}

.img {
  display: block;
  max-width: 100%;
}

.card-container {
  max-width: 100%;
  padding: 50px;
  margin: 0 auto;
  background-color: #603f83;
  margin-left: 200px;
}

.wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 16px;
}

.card {
  flex: 1 0 350px;
  background: #c7d3d4;
  padding: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  align-self: normal;
}

.card .img {
  width: 425px;
  height: 250px;
}

.card .img img {
  width: 100%;
  height: 100%;
}

.card .text {
  padding: 10px;
  text-align: left;
  color: #603f83;
}

.text h4 {
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.hero-image {
  width: 100%;
  position: relative;
  height: 700px;
  margin-left: 125px;
  overflow: hidden;
  background: url(../img/placeholderhero.png);
  background-size: cover;
}

.text-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  text-align: center;
  color: #603f83;
  font-weight: 600;
}

.text-container h1 {
  font-size: 72px;
  letter-spacing: 0.5px;
}

.text-container h1 span {
  padding: 5px 15px;
  text-transform: uppercase;
  display: inline-block;
}

.description {
  margin: 20px;
  display: block;
  font-size: 26px;
}/*# sourceMappingURL=style.css.map */