.comingsoon h2 {
    margin-top: 20px;
    font-size: 72px;
    text-align: center;
}

.comingsoon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    max-width: 100%;
    height: 235vh;
    margin-left: 220px;
    color: $color-primary;
    background-color: $color-secondary;
}

.coding-text {
    font-size: 56px;
    margin-bottom: 50px;
    color: $color-primary;
}

.comingsoon img {
    margin-top: 20px;
    border: 2px $color-primary solid;
    width: 100%;
    max-width: 900px; 
    max-height: 900px;
}

.code-img-ex {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $color-primary;
}

.code-img-ex p {
    display: none;
    position: absolute;
    border: 2px $color-primary solid;
    padding: 15px;
    align-content: center;
    max-width: 400px;
    left: 50%;
    top: 50%;
}

.code-img-exsmall p {
    display: block;
}

.sql-code {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sql-code h4 {
    margin-top: 30px;
}
.sql-code img {
    margin-top: 30px;
}

.sql-code p {
    max-width: 50%;
}

.sqltable {
    width: auto !important;
    height: auto !important;
}

pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: justify;
}

.cookie-valid {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-secondary;
    margin-left: 210px;
}

.cookie-valid img {
    border: 2px #c5c6c7 solid;
    width: 100%;
    max-width: 900px;
    max-height: 900px;
}
.cookie-valid p {
    color: $color-primary;
    max-width: 50%;
}

.cookie-valid h4 {
    color: $color-primary;
    margin-bottom: 15px;
}

@media screen and (max-width: $brkpoint-xlg) {
    .cookie-valid {
        margin-left: 0;
    }
    .comingsoon {
        margin-left: 0;
        height: 255vh;
    }
    .code-img-ex p {
       position: static;
       margin-top: 20px;
    }
}

@media screen and (max-width: $brkpoint-lg) {
    .comingsoon {
        height: 235vh;
    }
}