.comingsoon h2 {
    margin-top: 20px;
    font-size: 72px;
    text-align: center;
}

.comingsoon {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-content: flex-start;
    max-width: 100%;
    height: 100vh;
    margin-left: 220px;
    color: $color-primary;
    background-color: $color-secondary;
}

.coding-text {
    font-size: 56px;
    margin-bottom: 50px;
    color: $color-primary;
}

.comingsoon img {
    margin-top: 20px;
    border: 2px $color-primary solid;
    width: 100%;
    max-width: 900px; 
    max-height: 900px;
}

.code-img-ex {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    color: $color-primary;
}

.code-img-ex p {
    display: none;
    position: absolute;
    border: 2px $color-primary solid;
    padding: 15px;
    align-content: center;
    max-width: 400px;
    left: 50%;
    top: 50%;
}

.code-img-exsmall p {
    display: block;
}

@media screen and (max-width: $brkpoint-xlg) {
    .comingsoon {
        margin-left: 0;
    }
    .code-img-ex p {
       position: static;
       margin-top: 20px;
    }
}