// BASE COLOURS

$white     : #fff;
$black     : #070707;
$grey      : #ddd;

// MAIN COLOURS

$color-primary:   #c5c6c7;
$color-secondary: #1f2833;

// TEXT

$base__font-size : 16px;
$base__line      : 24px;

// Breakpoints

$brkpoint-sm:  1px;
$brkpoint-md:  576px;
$brkpoint-lg:  768px;
$brkpoint-xlg: 992px;
$brkpoint-xxlg: 1200px;