.footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px
}

.contactme {
    color: $color-secondary;
}

.last-name {
    margin-bottom: 30px;
    grid-column-start: 2;
    grid-column-end: 3;
}

.email {
    grid-column-start: 1;
    grid-column-end: 4;
}

.subject {
    grid-column-start: 1;
    grid-column-end: 4;
}

.message {
    grid-column-start: 1;
    grid-column-end: 4;
    margin-right: auto;
}

input, textarea {
    width: 100%;
    padding: 10px;
    outline: 0;
    border: 1px solid $color-secondary;
    background: transparent;
    font-size: 15px;
    color: $color-secondary;
}

label {
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    color: $color-secondary;
    cursor: text;
    transition: 0.2s;
}

.first-name, .last-name, .email, .subject, .message {
    position: relative;
    margin-bottom: 30px;
}

button {
    padding: 10px 0;
    color: $color-secondary;
    outline: none;
    background: transparent;
    border: 1px solid $color-secondary;
    width: 100%;
    cursor: pointer;
    grid-column-start: 1;
    grid-column-end: 4;
}

input:focus~label,
input:valid~label,
textarea:focus~label,
textarea:valid~label {
    top: -35px;
    font-size: 14px;
}

