.hero-image {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: relative;
    height: 700px;
    overflow: hidden;
    background: url(../img/hero.jpg);
    background-size: cover;
}

.text-container {
    position: absolute;
    top: 50%;
    left: 54%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    text-align: center;
    color: $color-primary;
    font-weight: 600;
    text-shadow: -1px 0 $white, 0 1px $white, 1px 0 $white, 0 -1px $white;
    opacity: 65%;
}

.text-container h1 {
    font-size: 72px;
    letter-spacing: 0.5px;
}

.text-container h1 span {
    padding: 5px 15px;
    text-transform: uppercase;
    display: inline-block;
}

.description {
    margin: 20px;
    display: block;
    font-size: 26px;
}